#buscenimg{
    width: 779px;
    height: 443px;
}

#excoff{
    left: 680px;
    top:835px;
}

@media (min-width: 310px) and (max-width: 768px){

    #excoff{
        left: 20px;
        top: 1450px;
        color: white;
        font-weight: 600;
    }

    #buscenimg{
        width: auto;
        height: 443px;
    }

    #bccnter{
        margin-left:0px;
    }
  
}

@media (min-width: 768px) and (max-width: 1024px){

    #excoff{
        left: 480px;
        top:890px;
        color: black;
        font-weight: bolder;
    }
   
}

@media (min-width: 1024px) and (max-width: 1320px){
  
}