#concenimg{
    width: 779px;
    height: 443px;
}

#concoff{
    right: 660px;
}




@media (min-width: 310px) and (max-width: 768px){
    #concoff{
        left:0px;
        right:0px;
        margin-bottom:120px;
    }

    #concenimg{
        width:100%;
    }
  
}


@media (min-width: 768px) and (max-width: 1024px){
    #concoff{
        left:50px;
        right: 660px;

    }
}
