#headerImage{
    width: auto;
    height: 500px;
    background-image: url('https://i.ibb.co/6FxS1X4/burj-khalifa.png');
    background-size:cover;
    background-position: center;
}

#headerImage{
    position: relative;
    z-index: 1;
}

#headingbc{
    position: absolute;
    z-index: 3;
    left: 140px;
    top: 205px;
    color: white;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

#phonec{
    position: absolute;
    z-index: 3;
    left: 1100px;
    top: 60px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 500;
}

#logoc{
    position: absolute;
    width: 183px;
    height: 125px;
    left: 129px;
    z-index: 2;
}


#formc{
    background-color: white;
    position: absolute;
    top: 180px;
    left: 902px;
    z-index: 2;
}

#desc{
    position: absolute;
    left:10px;
    top: 250px;
    color: white;
    
}

@media (min-width: 310px) and (max-width: 767px){

    #headingbc{
        position: absolute;
        z-index: 3;
        left: 80px;
        top: 150px;
        color: white;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;               
    }
    
    #formc{
        background-color: white;
        position: absolute;
        top: 490px;
        left: 20px;
        z-index: 2;
    }

    #logoc{
        position: absolute;
        width: 183px;
        height: 125px;
        left: 10px;
        z-index: 2;
    }

    #phonec{
        position: absolute;
        z-index: 3;
        left: 210px;
        top: 60px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 500;
    }

    #subhder{
        margin-top:450px;
        position: absolute;
        margin-left:-0px;
    }

    #bscenter{
        margin-top:630px;
        margin-left:-0px;
    }

    
}



@media (min-width: 768px) and (max-width: 1024px){
    #headingbc{
        position: absolute;
        z-index: 3;
        left: 10px;
        top: 150px;
        color: white;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    } 

    #formc{
        background-color: white;
        position: absolute;
        top: 100px;
        left: 360px;
        z-index: 2;
    }

    #phonec{
        position: absolute;
        z-index: 3;
        left: 600px;
        top: 40px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 500;
    }
}

@media (min-width: 1024px) and (max-width: 1320px){
    #headingbc{
        position: absolute;
        z-index: 3;
        left: 60px;
        top: 205px;
        color: white;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }

    #formc{
        background-color: white;
        position: absolute;
        top: 100px;
        left: 570px;
        z-index: 2;
    }

    #phonec{
        position: absolute;
        z-index: 3;
        left: 600px;
        top: 40px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: 500;
    }
}