#onebulist {
    line-height: 1.5em;
    list-style-image: url(https://i.ibb.co/fnGCSJ5/Shape-2-copy-4.png);
  }

#twobulist{
    line-height: 1.5em;
    list-style-image: url(https://i.ibb.co/fnGCSJ5/Shape-2-copy-4.png);
  }

  #ordbulist{
      width: 480px;
      height: 265px;
      background-color: #FF8B38;
      font-family: 'Open Sans', sans-serif;
  }


  @media (min-width: 310px) and (max-width: 768px){
    #ordbulist{
      width: auto;
      height: 265px;
      background-color: #FF8B38;
      font-family: 'Open Sans', sans-serif;
  }
  
  }
  
